.tamagotchi-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
body{
    font-family: sans-serif;
    text-align: center;
}
h1{
    color: #880088;
}
p{
    margin: 10px 0;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    background-color: #880088;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
.button-container button {
        background-color: #880088;
        color: white;
        border-radius: 10px;
        margin: 0 10px;
        }
button:focus{
    outline: none;
}
button:hover {
    background-color: #6b006b;
  }
.progress-bar {
    width: 100%;
    height: 20px;
    background-color: lightgrey;
    color: white;
    text-align: center;
    margin-bottom: 10px;
  }
  
.progress-bar.green{
    background-color: green;
}
.progress-bar.yellow{
    background-color: yellow;
}
.progress-bar.red{
    background-color: red;
}
.image{
width: 15%;
}